html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-weight: normal;
  margin: 0;
  min-width: 666px;
  padding: 0;
}

input {
  border-bottom: 1px solid rgba(248, 89, 0, 0.3);
  border-left: none;
  border-radius: 0;
  border-right: 1px solid rgba(248, 89, 0, 0.3);
  border-top: none;
  color: transparent;
  cursor: default;
  font-family: monospace;
  font-size: 16px;
  height: 24px;
  outline: none;
  padding: 0;
  text-align: center;
  text-shadow: 0 0 0 rgba(65, 105, 225, 1);
  width: 24px;
}

input:focus + span {
  border: 2px solid rgba(65, 105, 225, 1) !important;
  /* box-shadow: 0 0 24px rgba(248, 89, 0, 0.3); */
  height: 25px;
  left: -1px;
  pointer-events: none;
  position: absolute;
  top: -4px;
  width: 25px;
  z-index: 1;
}

input:hover:not(:focus) {
  background-color: rgba(248, 89, 0, 0.3);
}

#anchor {
  position: relative;
}
